{{ form_start(registrationForm) }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-border {
            border: 2px solid #1d5294;
            padding: 2px;
            border-color: #bed73e #1d5294 #1d5294 #bed73e;
        }
    </style>
    <title>Your Form Title</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Créer un compte</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                

                <div class="form-group">
                    {{ form_row(registrationForm.collaborateur, {'label': 'Créer un compte pour : ', 'attr': {'class': 'form-control mb-3'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.username, {'label': "Nom d'utilisateur", 'attr': {'class': 'form-control mb-3'}}) }}
                </div>
                    {{ form_errors(registrationForm.username) }}
                
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.first, {'label': 'Mot de passe', 'attr': {'class': 'form-control mb-3'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.second, {'label': 'Confirmer le mot de passe', 'attr': {'class': 'form-control mb-3'}}) }}
                </div>


                <button type="submit" class="btn btn-primary">Créer le compte</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</html>

