{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }} - Détails de l'utilisateur
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2 class="font-weight-bold mb-0">{{ user.collaborateur.prenom }} {{ user.collaborateur.nom }}</h2>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Nom d'utilisateur :</dt>
                    <dd class="col-sm-9">{{ user.username }}</dd>

                    <dt class="col-sm-3">Rôles :</dt>
                    <dd class="col-sm-9">
                        {% if user.roles is not empty %}
                            <ul>
                                {% for role in user.roles %}
                                    <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Aucun rôle défini.
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
