{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Style pour un meilleur espacement des cellules */
        th,
        td {
            text-align: center;
            vertical-align: middle !important;
            font-size: 0.8rem; /* Taille de police plus petite */
        }
        .small-cell {
            max-width: 11px; /* Largeur maximale pour les cellules */
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .bouton-tri {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .bouton-tri:hover {
            background-color: #0056b3;
        }

        .tri {
            text-align: center;
            margin-top: 50px;
        }
    </style>
    {% block title %} Planning {% endblock %}
{% endblock %}

{% block body %}
{% set joursSemaines = {
    'Monday': 'Lun',
    'Tuesday': 'Mar',
    'Wednesday': 'Mer',
    'Thursday': 'Jeu',
    'Friday': 'Ven',
    'Saturday': 'Sam',
    'Sunday': 'Dim'
} %}

<h2 align="center">Tableau des Affaires</h2><hr>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body" style="height: 300px;">
                <div class="form-container">
                    {{ form_start(form2) }}
                    <div class="form-group">
                        {{ form_row(form2.collaborateur, {'attr': {'class': 'form-control'}, 'label': false }) }}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form2.selectAll.vars.id }}" style="margin: 0; padding-right: 30px;">Tous les collaborateurs</label>
                        {{ form_widget(form2.selectAll, {'attr': {'class': 'form-check-input', 'style': 'transform: scale(1.5);'}, 'label': false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form2.validate) }}
                    </div>
                    {{ form_end(form2) }}
                            
            <a href="{{ path('affaire_index', {'filter': 'date'}) }}" class="btn btn-dark">Trier par date</a>

            <a href="{{ path('affaire_index', {'filter': 'client'}) }}" class="btn btn-dark">Trier par client</a>

                </div>
            </div>            
        </div>
    </div>
    <div class="col-6"></div>
    
    <div class="col-3">
        <div class="card">
            <div class="card-body" style="height: 300px;">
                <div class="form-container">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.firstDate, {'attr': {'class': 'form-control'}, 'label': false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastDate, {'attr': {'class': 'form-control'}, 'label': false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.validate, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                    <div class="form-group">
                        <a class="btn btn-success py-2 px-4 mt-3" href="{{ path('app_excel') }}">Convertir en tableau Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
<div class="col-5 table-responsive" style="vertical-align: top;">
    <table id="sortableTable" class="table table-bordered table-sm">
        <thead class="thead-dark" style="height: 30px;" >
            <tr>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 2px">Numéro d'Affaire</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 28px">Collaborateur</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 28px">Client</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: ;">Désignation</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 20px;">Nbre(s) Heure(s)</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 23px">Date de Début ou Mise à Jour</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 15px;">Heure(s) Passée(s)</th>
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 23px">Date Fin Impératif</th>    
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 23px">Nombre(s) de jour(s) de fractionnement</th>    
                <th class="small-cell" style="height: 128px; font-size: 10px; width: 23px">%Temps Réserve</th>                        
            </tr>
        </thead>
        <tbody style="height: 42px;">
        {% if filter != null %}
            {% for affaire in affaires %}
            {% for collaborateur in affaire.collaborateur %}
                <tr>
                    <td class="small-cell" style="font-size: 10px; height: 42px;"><a href="/edit/{{ affaire.id }}">{{ affaire.NumAffaire }}</a></td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ collaborateur.nom }} {{ collaborateur.prenom }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.Client }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.Designation }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.NbreHeure }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.getDateDebut()|date('d/m/Y') }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.HeurePasse }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">
                        {% if affaire.DateFin is not null %}
                            {{ affaire.getDateFin()|date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ affaire.NbreJourFractionnement }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ affaire.PourcentReserve }}</td>


                    {# Répéter ces cellules vides pour chaque jour #}
                </tr>
            {% endfor %}
            {% endfor %}
        {% else %}
        {% for collaborateur in collaborateurs %}
            {% for affaire in collaborateur.affaires %}
                                    {# {{ collaborateur.nom }}
                    {{ collaborateur_precedent.nom }} #}                   
                <tr>
                    <td class="small-cell" style="font-size: 10px; height: 42px;"><a href="/edit/{{ affaire.id }}">{{ affaire.NumAffaire }}</a></td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ collaborateur.nom }} {{ collaborateur.prenom }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.Client }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.Designation }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.NbreHeure }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.getDateDebut()|date('d/m/Y') }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px;">{{ affaire.HeurePasse }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">
                        {% if affaire.DateFin is not null %}
                            {{ affaire.getDateFin()|date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ affaire.NbreJourFractionnement }}</td>
                    <td class="small-cell" style="font-size: 10px; height: 42px; background-color:{{ collaborateur.couleur }}">{{ affaire.PourcentReserve }}</td>


                    {# Répéter ces cellules vides pour chaque jour #}
                </tr>
            {% endfor %}
            {% if not loop.last %}
            <tr>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>
                <td class="small-cell" style="background-color:#ffff00;"></td>                
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{#------------------------Tableau de dates--------------------------------------------------------------------#}


<div class="col-7 table-responsive" style="vertical-align: top;">
<table class="table table-bordered table-sm">
<thead class="thead-dark">
    {% for date in tableauDates %}
        <th class="small-cell" style="height: 128px">
            <table class="table table-bordered  table-sm  table-sm">
                <tr class="small-cell"><td class="small-cell" style="color:#ffffff; font-size:9px; height: 10px;">{{ date.annee }}</td></tr>
                <tr class="small-cell"><td class="small-cell" style="color:#ffffff; font-size:9px; height: 10px;">{{ joursSemaines[date.jourSemaine] }}</td></tr>
                <tr class="small-cell"><td class="small-cell" style="color:#ffffff; font-size:9px; height: 10px;">{{ date.dateFormatee }}</td></tr>
                <tr class="small-cell"><td class="small-cell" style="color:#ffffff; font-size:9px; height: 10px;">{{ date.numeroSemaine }}</td></tr>
            </table>
        </th>  
    {% endfor %}
    </thead>
    <tbody>
    {% if filter != null %}
        {% for affaire in affaires %}
            {% for collaborateur in affaire.collaborateur %}
            {% set fractionnement = 0 %}
                {% set FinAffaires = affaire.getDateDebut|date_modify('-1 day') %}
                    {% set nombreJours = (affaire.NbreHeure) / (collaborateur.HrSemaine / collaborateur.JourSemaine) %}
                    {% set nombreJours = nombreJours|round(0, 'ceil') %}
                    {% set FinAffaires = FinAffaires|date_modify('+' ~ nombreJours ~ ' days') %}

            <tr>
                {% for date in tableauDates %}
                    {% if date.jourSemaine in weekend or date.dateFormatee in feriesFormatee %}
                    
                        {% if joursSemaines[date.jourSemaine] == "Sam" %}
                            <td class="small-cell" style="height: 10px; font-size:9px;">Sam</td>
                            {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee %}
                            {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                            {% endif %}

                        {% elseif joursSemaines[date.jourSemaine] == "Dim" %}
                            <td class="small-cell" style="height: 10px; font-size:9px;">Dim</td>
                            {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee %}
                                {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                            {% endif %}

                        {% else %}
                            <td class="small-cell" style="height: 10px; font-size:9px;">F</td>
                            {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee %}
                                {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                            {% endif %}
                        {% endif %}  
                        {% else %}
                        {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee %}
                            <td class="small-cell" style="height: 42px; background-color: #00ffff;"></td>
                        {% elseif FinAffaires|date('m/d') < date.dateFormatee and affaire.NbreJourFractionnement > fractionnement  %}
                        {% set fractionnement = fractionnement + 1 %}
                            <td class="small-cell" style="height: 42px; background-color: #c0c0c0;"></td>
                        {% else %}
                            <td class="small-cell" style="height: 42px;"></td>
                        {% endif %}

                    {% endif %}
                {% endfor %}
                </tr>  
                    {% set collaborateur_precedent = affaire.collaborateur %}      
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for collaborateur in collaborateurs %}
            {% for affaire in collaborateur.affaires %}
                {% set fractionnement = 0 %}
                {% set FinAffaires = affaire.getDateDebut|date_modify('-1 day') %}
                {% set nombreJours = (affaire.NbreHeure) / (collaborateur.HrSemaine / collaborateur.JourSemaine) %}
                {% set nombreJours = nombreJours|round(0, 'ceil') %}
                {% set FinAffaires = FinAffaires|date_modify('+' ~ nombreJours ~ ' days') %}
                        
                <tr>
                    {% for date in tableauDates %}
                        {% if date.jourSemaine in weekend or date.dateFormatee in feriesFormatee %}
                        
                            {% if joursSemaines[date.jourSemaine] == "Sam" %}
                                <td class="small-cell" style="height: 10px; font-size:9px;">Sam</td>
                                {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee and affaire.getDateDebut()|date('Y') == date.annee %}
                                {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                                {% endif %}

                            {% elseif joursSemaines[date.jourSemaine] == "Dim" %}
                                <td class="small-cell" style="height: 10px; font-size:9px;">Dim</td>
                                {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee and affaire.getDateDebut()|date('Y') == date.annee %}
                                    {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                                {% endif %}

                            {% else %}
                                <td class="small-cell" style="height: 10px; font-size:9px;">F</td>
                                {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee and affaire.getDateDebut()|date('Y') == date.annee %}
                                    {% set FinAffaires = FinAffaires|date_modify('+1 day') %}
                                {% endif %}
                            {% endif %}  
                            
                        {% else %}
                            {% if affaire.getDateDebut()|date('m/d') <= date.dateFormatee and FinAffaires|date('m/d') >= date.dateFormatee and affaire.getDateDebut()|date('Y') == date.annee %}
                                <td class="small-cell" style="height: 42px; background-color: #00ffff;"></td>
                            {% elseif FinAffaires|date('m/d') < date.dateFormatee and affaire.NbreJourFractionnement > fractionnement  %}
                            {% set fractionnement = fractionnement + 1 %}
                                <td class="small-cell" style="height: 42px; background-color: #c0c0c0;"></td>
                            {% else %}
                                <td class="small-cell" style="height: 42px;"></td>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                    </tr>  
                
            {% endfor %}   
            {% if not loop.last %}
                <tr>
                {% for date in tableauDates %}
                    <td class="small-cell" style="background-color:#ffff00;"></td>
                {% endfor %}              
                </tr>
            {% endif %} 
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
