{% extends 'base.html.twig' %}

{% block title %}
    Liste des Postes
{% endblock %}

{% block javascripts %}        
    <!-- Include custom JavaScript for search functionality -->
    <script src="{{ asset('assets/js/searchBar.js') }}"></script>
{% endblock %}

{% block body %}
    <div class='container mt-4'>
        <div class='text-center mb-4'>	
            <h2 class='font-weight-bold'>Liste des postes</h2>
        </div>
        <div class='text-center mb-4'>	
            <a href='{{ path('poste_new') }}'>
                <button class='btn btn-secondary btn-lg'>Ajouter une fiche poste</button>
            </a>
            <a href='{{ path('collaborateur_index') }}'>
                <button class='btn btn-secondary btn-lg'>Voir les collaborateurs</button>
            </a>
        </div>

        <hr>

        <!-- Search bar for poste search -->
        <input class='form-control mb-3' type="text" id="searchBar" placeholder="Rechercher un poste">

        <!-- Poste list container -->
        <div class='container'>
            <!-- Table header row -->
            <div class="row bg-dark text-light py-2">
                <div class="col-3">Nom</div>
            </div>

            <!-- Loop through postes and display details -->
            {% for poste in postes %}
                <a class='data-row' href="{{ path('show_poste', {'id': poste.id}) }}">
                    <div class="row border-bottom py-2">
                        <div class="col-3 my-auto">{{ poste.nom }}</div>
                    </div>
                </a>
            {% else %}
                <!-- Display a message if no postes are found -->
                <div class="row">
                    <div class='col text-center alert alert-danger p-2'>Aucune fiche poste enregistrée</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
