{{ form_start(form) }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-border {
            border: 2px solid #1d5294;
            padding: 2px;
            border-color: #bed73e #1d5294 #1d5294 #bed73e;
        }
    </style>
    <title>Your Form Title</title>
</head>

<body>

    <div class="container p-4 form container-background">
        <div class="container custom-border">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>Prénom</h5>
                            {{ form_errors(form.prenom) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control mb-3'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h5>Nom</h5>
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control mb-3 mr-3'}}) }}
                        </div>
                        <div class="col-md-auto">
                            <h5>Nombre d'Heure par jour</h5>
                            {{ form_errors(form.hr_jour) }}
                            {{ form_widget(form.hr_jour, {'attr': {'class': 'form-control mb-3'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h5>Nombre d'Heure par Semaine</h5>
                            {{ form_errors(form.hr_semaine) }}
                            {{ form_widget(form.hr_semaine, {'attr': {'class': 'form-control mb-3'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>Nombre de Jours Travaillés par Semaine</h5>
                            {{ form_errors(form.jour_semaine) }}
                            {{ form_widget(form.jour_semaine, {'attr': {'class': 'form-control mb-3', 'required': 'required'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h5>Représentant</h5>
                            {{ form_errors(form.representant) }}
                            {{ form_widget(form.representant, {'attr': {'class': 'form-control mb-3'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>Poste</h5>
                            {{ form_errors(form.poste) }}
                            {{ form_widget(form.poste, {'attr': {'class': 'form-control mb-3', 'rows': '5'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <button class="btn btn-success py-2 px-4 mt-3">{{ button_label|default('Valider') }}</button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
{{ form_end(form) }}
