{% extends 'base.html.twig' %}

{% block title %}Liste des Collaborateurs{% endblock %}

{% block javascripts %}        
    <script src="{{ asset('assets/js/searchBar.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="text-center mb-4">	
        <div class="h2 mb-3 font-weight-bold">Liste des collaborateurs</div>
    </div>
    <div class="text-center mb-4">	
        <a href="{{ path('new_collaborateur') }}">
            <button class="btn btn-primary btn-lg" style="background-color: #1d5294; border-color: #1d5294;">Ajouter une fiche collaborateur</button>
        </a>
    </div>

    <hr>

    <div class="container mt-4">
        <div class="row tab-head text-white p-2 rounded" style="background-color: #1d5294;">
            <div class="col-3"  style="background-color: #1d5294;">Nom</div>
            <div class="col-3"  style="background-color: #1d5294;">Prénom</div>
            <div class="col-2" style="background-color: #1d5294;">Heures/Jour</div>
            <div class="col-2" style="background-color: #1d5294;">Heures/Semaine</div>
            <div class="col-2" style="background-color: #1d5294;">Jours/Semaine</div>
        </div>

        {% for collaborateur in collaborateurs %}
            <a class="data-row" href="{{ path('show_collaborateur', {'id': collaborateur.id}) }}">
                <div class="row link default p-2 rounded mb-2" style="background-color: #dddddd; color: #000000;">
                    <div class="col-3 my-auto">{{ collaborateur.nom }}</div>
                    <div class="col-3 my-auto">{{ collaborateur.prenom }}</div>
                    <div class="col-2 my-auto">{{ collaborateur.HrJour }}</div>
                    <div class="col-2 my-auto">{{ collaborateur.HrSemaine }}</div>
                    <div class="col-2 my-auto">{{ collaborateur.JourSemaine }}</div>
                </div>
            </a>
        {% else %}
            <div class="row">
                <div class="col text-center alert-label p-2 bg-warning rounded">
                    Aucun collaborateur enregistré
                </div>
            </div>
        {% endfor %}
        
    </div>

    <style>
        .btn-primary,
        .btn-primary:hover {
            background-color: #1d5294;
            border-color: #1d5294;
        }
    </style>
{% endblock %}
