{% extends 'base.html.twig' %}

{% block title %}Liste des Collaborateurs{% endblock %}

{% block javascripts %}        
    <!-- Include custom JavaScript for search functionality -->
    <script src="{{ asset('assets/js/searchBar.js') }}"></script>
{% endblock %}

{% block body %}
    <div class='container mt-4'>
        <div class='text-center mb-4'>	
            <h2 class='font-weight-bold'>Liste des Collaborateurs</h2>
        </div>
        <div class='text-center mb-4'>	
            <a href='{{ path('new_collaborateur') }}'>
                <button class='btn btn-secondary btn-lg'>Ajouter un collaborateur</button>
            </a>
        </div>

        <hr>

        <!-- Search bar for collaborator search -->
        <input class='form-control mb-3' type="text" id="searchBar" placeholder="Rechercher un collaborateur">

        <!-- Collaborator list container -->
        <div class='container'>
            <!-- Table header row -->
            <div class="row bg-dark text-light py-2">
                <div class="col-3">Nom</div>
                <div class="col-3">Prénom</div>
                <div class="col-2">Heures/Jour</div>
                <div class="col-2">Heures/Semaine</div>
                <div class="col-2">Jours/Semaine</div>
            </div>

            <!-- Loop through collaborateurs and display details -->
            {% for collaborateur in collaborateurs %}
                <a class='data-row' href="{{ path('show_collaborateur', {'id': collaborateur.id}) }}">
                    <div class="row border-bottom py-2">
                        <div class="col-3 my-auto">{{ collaborateur.nom }}</div>
                        <div class="col-3 my-auto">{{ collaborateur.prenom }}</div>
                        <div class="col-2 my-auto">{{ collaborateur.HrJour }}</div>
                        <div class="col-2 my-auto">{{ collaborateur.HrSemaine }}</div>
                        <div class="col-2 my-auto">{{ collaborateur.JourSemaine }}</div>
                    </div>
                </a>
            {% else %}
                <!-- Display a message if no collaborators are found -->
                <div class="row">
                    <div class='col text-center alert alert-danger p-2'>Aucun collaborateur enregistré</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
